<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../static/style/find_password.css">

    </head>
    <body>
        <form action="{% url 'Graduation_design:Sendemail' %}" class="login-form" method="post">
            {% csrf_token %}
            <h1>Reset Password</h1>

            <div class="txtb">
                <input type="email" name="email">
                <span data-placeholder="Registered Email"></span>
            </div>
            <input type="submit" class="logbtn" value="下一步">

        </form>

        <script type="text/javascript">
            $(".txtb input").on("focus", function(){
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur", function(){
                if($(this).val() == "")
                $(this).removeClass("focus");
            });
        </script>

    </body>
</html>
